<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SharonPresentacion</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <img class="foto mb-5" src="/img/foto.jpg" alt="foto">
                <h4>Mi nombre es Sharon Ostrovsky</h4>
                <p>Actualmente soy estudiante autodidacta de programación y
                    estoy cursando la carrera de Ingeniería Electrónica en la Universidad de Buenos Aires.</p>
                <p> Estoy constantemente aprendiendo nuevas habilidades, ademas de mejorar las que ya tengo.</p>
                <p class="mb-5">  En busca de un empleo el cual se centre en el trabajo como equipo y me
                    permita aprender y crecer.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5 class="text-center mt-5">MÁS INFORMACIÓN</h5>
            <div class="d-grid gap-3 d-md-block mt-4">
                <a href="https://github.com/sharonOstrovsky"><button class="btn btn-outline-success" type="button">GIT</button></a>
                <a href= "https://www.linkedin.com/in/sharon-ostrovsky"><button class="btn btn-outline-primary" type="button">Linkedin</button></a>
                <a href="/resume"> <button class="btn btn-outline-danger" type="button">CurriculumVitae</button></a>
            </div>
        </div>
    </div>
</div>


</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</html>