<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SharonResume</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>



<div class="container text-center">
    <div class="row justify-content-md-center">

        <div class="col-md-auto">
            <h1>Sharon Aylen Ostrovsky</h1>
            <h4>Estudiante autodidacta de programación | Estudiante de Ingeniería Electrónica </h4>
        </div>

    </div>
</div>




<div class="container">
    <div class="row row-cols-2">
        <div class="col">
            <br>
            <div class="titulos">
                <h5> Datos Personales </h5>
            </div>
            <div class="textos">
                <ul>
                    <li> Nombres: Sharon Aylen</li>
                    <li> Apellido: Ostrovsky</li>
                    <li> Fecha de nac. : 13/11/1996</li>
                    <li> Nacionalidad: Argentina</li>
                    <li> Edad: 26</li>
                    <li> Mail: sharonostro96@gmail.com</li>
                    <li><a href="https://www.linkedin.com/in/sharon-ostrovsky"><p> Linkedin </p></a></li>
                    <li><a href="https://github.com/sharonOstrovsky"><p> GitHub </p></a></li>
                </ul>
            </div>

            <div class="titulos">
                <h5>Habilidades:</h5>
            </div>
            <h6>Hard</h6>
            <ul>
                <li>Java</li>
                <li>Spring</li>
                <li>MySQL</li>
                <li>PostgreSQL</li>
                <li>Postman</li>
                <li>GitHub</li>
                <li>GitLab</li>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
            <h6>Soft</h6>
            <ul>
                <li>Autodidacta</li>
                <li>Trabajo en equipo</li>
                <li>Gestión del tiempo</li>
                <li>Resolución de problemas</li>
            </ul>


            <div class="titulos">
                <h5> Idiomas: </h5>
            </div>

            <ul>
                <li>Español: Nivel Nativo</li>
                <li>Inglés: Nivel Intermedio</li>
            </ul>





        </div>



        <div class="col">
            <br>
            <div class="titulos">
                <h5> Experiencia laboral: </h5>
            </div>

            <ul>
                <li>Desarrollador Java Trainee, G&L Group · Contrato de prácticas</li>
            </ul>

            <div class="titulos">
                <h5> Formación Académica: </h5>
            </div>

            <ul>
                <li>Ingeniería Electrónica, Universidad de Buenos Aires <br> 2020-actualidad</li>
                <li>Medicina, Universidad de Buenos Aires <br> Ciclo Básico Común y Ciclo Biomédico completo <br> 2015-2019</li>
                <li>Perito Mercantil, Escuela Superior de Comercio Carlos Pellegrini <br> 2010-1014</li>
            </ul>

            <div class="titulos">
                <h5> Cursos: </h5>
            </div>

            <ul>
                <li>Programación Web Full Stack, Egg</li>
                <li>Argentina Programa, Ministerio de Desarrollo Productivo</li>
                <li>Git, OpenBootcamp</li>
                <li>SQL, OpenBootcamp</li>
                <li>Java Básico, OpenBootcamp</li>
                <li>Introducción a la programación, OpenBootcamp</li>
                <li>Digitalizate - Comercio electrónico y marketing digital,
                    Dirección General de Políticas de Juventud del Gobierno de la Ciudad de Buenos Aires
                </li>
                <li>Inglés Técnico para Desarrolladores de Software,
                    Secretaría de Economía del Conocimiento del Ministerio de Economía de la Nación
                </li>
            </ul>

            <div class="titulos">
                <h5>Participación Comunitaria:</h5>
            </div>

            <ul>
                <li>Apoyo Escolar y Acompañamiento Educativo (Universidad de Buenos Aires). Voluntario.
                    <br> Facilitó reuniones semanales en barrios de bajos ingresos para llevar
                    apoyo escolar a niños y adultos de primaria y secundaria.
                </li>
            </ul>


        </div>






    </div>
</div>





</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</html>